:root {
  --fondo-fit: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(11, 94%, 87%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(3, 77%, 64%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(186, 58%, 68%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(39, 92%, 71%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  --fondo-denso: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(3) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 96%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='3.5' stroke='hsla(39, 92%, 71%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='3.5' stroke='hsla(3, 77%, 64%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='3.5' stroke='hsla(186, 58%, 68%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='3.5' stroke='hsla(11, 94%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-60,0)' fill='url(%23a)'/></svg>");
  --fondo-fit-denso: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(11, 94%, 87%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(3, 77%, 64%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(186, 58%, 68%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1.5' stroke='hsla(39, 92%, 71%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  --fondo-fit-f4: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(1) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 96%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(39, 92%, 71%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(3, 77%, 64%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(186, 58%, 68%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='1' stroke='hsla(11, 94%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-20,0)' fill='url(%23a)'/></svg>");
  --fondo-fit-f4-zoom: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='70' patternTransform='scale(2) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 96%, 1)'/><path d='M-4.8 4.44L4 16.59 16.14 7.8M32 30.54l-13.23 7.07 7.06 13.23M-9 38.04l-3.81 14.5 14.5 3.81M65.22 4.44L74 16.59 86.15 7.8M61 38.04l-3.81 14.5 14.5 3.81'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(39, 92%, 71%, 1)' fill='none'/><path d='M59.71 62.88v3h3M4.84 25.54L2.87 27.8l2.26 1.97m7.65 16.4l-2.21-2.03-2.03 2.21m29.26 7.13l.56 2.95 2.95-.55'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(3, 77%, 64%, 1)' fill='none'/><path d='M58.98 27.57l-2.35-10.74-10.75 2.36M31.98-4.87l2.74 10.65 10.65-2.73M31.98 65.13l2.74 10.66 10.65-2.74'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(186, 58%, 68%, 1)' fill='none'/><path d='M8.42 62.57l6.4 2.82 2.82-6.41m33.13-15.24l-4.86-5.03-5.03 4.86m-14-19.64l4.84-5.06-5.06-4.84'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(11, 94%, 87%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-40,0)' fill='url(%23a)'/></svg>");
  --rosa-fuerte: #ed83ae;
  --rosa-claro: #fdc9bd;
  --azul: #255a66;
  --celeste: #7fd4dd;
  --amarillo: #f9c973;
  --rojo: #ea645e;
}

body {
    background-image: var(--fondo-fit-f4-zoom);
    background-repeat: repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo barra lateral admin_panel */

#wrapper {
    display: flex;
    height: max-content;
}

.sidebar {
    background-color: #FCC9BD;
    padding: 20px;
    width: 250px;
    height: 150vh;
    transition: all 0.3s ease-in-out;
}

.sidebar a {
    display: block;
    height: 50px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
}

.sidebar a:hover {
    color: #ffffff;
    background-color: #333333;
}

.logo img {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.3));
}

#main {
    padding: 20px;
    width: 100%;
    height: max-content;
}

/* Estilo Inicio admin_panel */
.is-shady {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  }

  .card {
    border-radius: 10px;
  }

  .media-left {
    height: 80px;
    width: 80px;
    background-color: #FCC9BD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .media-left i {
    color: #ED82AD;
  }

  .media-content p {
    color: #255a66;
  }

  .container_card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .container {
    padding-top: 10px;
  }

  .container h1 {
    font-size: 40px;
    color: #255a66;
    margin-left: 20px;
  }

  .container h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    color: #255a66;
  }

  .card {
    height: content;
    margin: 20px;
  }

  .subtitulo {
    font-size: 20px;
    font-weight: bold;
  }


h1 {
    margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #e8f0fe;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  overflow-x: auto; /* Agregamos un desplazamiento horizontal en caso de que la tabla sea ancha */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #e8f0fe;
}

td:last-child {
  white-space: nowrap;
}

input[type="text"], textarea, input[type="number"], input[type="file"] {
    border: 1px solid #ddd;
    padding: 6px;
    width: 100%;
    margin: 4px 0;
    box-sizing: border-box;
    border-radius: 3px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

 /* Selector de categoría */
 select#categoria {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    margin-bottom: 10px;
  }

  /* Selector de subcategoría */
  select#subcategoria {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .ajuste_img2 {
    width: 200px;
  }

  .aprobado-btn {
    width: auto;
    height: auto;
    background-color: #4caf50;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    margin: 0.5rem;
  }

  .aprobado-btn:hover {
    background-color: #45a049;
  }

  .rechazado-btn {
    width: auto;
    height: auto;
    background-color: #c82929;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    margin: 0.5rem;
  }

  .rechazado-btn:hover {
    background-color: #c82929b0;
  }

  #toggle-menu {
    display: none;
  }

  @media (max-width: 768px) {

    .container_card {
      grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna */
      grid-template-rows: auto; /* Ajustar automáticamente la altura de las filas */
    }

    #menu {
      position: fixed;
      width: 50%;
      top: 0rem;
      left: -100%;
      height: 100%;
      transition: left 0.3s ease;
      z-index: 200;
      overflow-y: scroll;
      padding-bottom: 5rem;
    }
    
    #menu.visible {
      left: 0;
    }

    #toggle-menu {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      display: block;
      position: fixed;
      top: 0rem;
      z-index: 201;
      font-weight: bold;
      background-color: #FCC9BD;
      border-radius: 0;
      color: #255a66;
    }

    table {
      font-size: 14px; /* Reducir el tamaño de fuente */
    }
  
    th, td {
      padding: 6px; /* Reducir el espacio entre celdas */
    }
  }