html {
    /* Establecer un tamaño de fuente base (1rem = 10px) */
    font-size: 62.5%;
  }
  
  .card {
    width: 17rem;
    height: 29rem;
    padding: 1rem;
    background: #ffffff;
    position: relative;
    overflow: visible;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    margin: 0.5rem;
    border-radius: 1rem;
    border: solid 1px #ed83ae;
  }

  .card:hover {
    transform: translateY(0.1rem);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .card-img {
    background-color: transparent;
    height: 15rem;
    width: 15rem;
    border-radius: .5rem;
    transition: .3s ease;
  }
  
  .card-info {
    padding-top: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #255a66;
  }
  
  svg {
    width: 1.8rem;
    height: 1.8rem;
  }
  
  .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .8rem;
    border-top: 1px solid #ed83ae;
  }
  
  /* Text */
  .text-title {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #255a66;
  }
  
  .text-body {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    overflow: hidden;
  }
  
  /* Button */
  .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .2rem;
    cursor: pointer;
    border-radius: 5rem;
    transition: .3s ease-in-out;
  }
  
  /* Hover 
  .card-img:hover, .card-img img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 9px 32px -4px, rgba(180, 71, 71, 0.3) 0px 5px 10px -6px;
  }
  */
  
  .card-button:hover {
    border: 1px solid #7fd4dd;
    background-color: #7fd4dd;
  }